[package]
name = "nbt"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
uuid = { workspace = true, features = ["serde"] }
flate2 = "1.1.4"
